.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.folder {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  background-color: lightgray;
  padding: 2px;
  width: 300px;
  /* width: max-content; */
  cursor: pointer;
}
.file {
  margin-left: 5px;
  padding-left: 5px;
  display: block;
  /* display: flex;
  flex-direction: column; */
}
